# Para encontrar a url da api, acessar o SSH no servidor, usar 'tunnelurl'

# A única variável necessária é a que está abaixo (cria um novo arquivo .env e cola a linha nele):
# VITE_API_URL=https://passport-powered-newer-refrigerator.trycloudflare.com/